<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436406027846-vbjvaegb8bd04oimk8d8ekfaj2n0hbqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436406027846-vbjvaegb8bd04oimk8d8ekfaj2n0hbqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAZuEMCYjHXsWe-E0JzKXTH6M1cRowYf0E</string>
	<key>GCM_SENDER_ID</key>
	<string>436406027846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikhail.RubanApp</string>
	<key>PROJECT_ID</key>
	<string>rubanapp-8b39e</string>
	<key>STORAGE_BUCKET</key>
	<string>rubanapp-8b39e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436406027846:ios:72f6a371ea95a4f7322c47</string>
</dict>
</plist>